.CreateTodoButton {
    background-color: #BFACE2;
    box-shadow: 0px 5px 25px #645CBB;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    margin-top: 20px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    align-self: center;
  
    transform: rotate(0);
    transition: .3s ease;
  }
  
  .CreateTodoButton:hover {
    transform: rotate(224deg);
  }